:root {
  --background-gradient: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  --black-mute: #222633;
  --black-soft: #0f111a;
  --black: #0a0c12;
  --default-fonts: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-color: #adb1ca;
  --header: #e88c59;
  --hover-link: #c792ea;
  --hover: #46096e;
  --link: #00a5b5;
  --shadow: -5px 10px 20px -4px rgba(0, 0, 0, 0.75);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
}

body {
  background-attachment: fixed;
  background-size: cover;
  background: var(--background-gradient);
  color: var(--font-color);
  font-family: var(--default-fonts);
  font-size: 16px;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  color: var(--header);
}
